.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.product-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1024px;
    margin-bottom: 64px;
    padding: 10px;
    margin: 10px;
}

